<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>阳光未来星 优质教育 美好未来</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
    <!------ Light Box ------>
    <script src="./static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="./static/css/swipebox.css">
    <script src="./static/js/ios-orientationchange-fix.js"></script>
    <script src="./static/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	<!------ Eng Light Box ------>

</head>
<body>
<div class="header-bg">
	<div class="wrap">
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li class="active"><a href="/">首页</a></li>
						    	<li><a href="staff">最优师资</a></li>
						    	<li><a href="programs">未来星</a></li>
                                <li><a href="about">关于</a></li>
						    	<li><a href="contact">联系我们</a></li>
						    	<div class="clear"></div>
			     			</ul>
				     	</div>
				     	<ul class="follow_icon">
							<li><a href="#" style="opacity: 1;"><img src="./static/images/fb.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="./static/images/tw.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="./static/images/rss.png" alt=""></a></li>
						</ul>
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<h1><a href="/">阳光未来星</a></h1>
					 </div>
					<div class="search">
						   <form>
						    	<input type="text" value="">
						    	<input type="submit" value="">
						  </form>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	 </div>
</div>
{% block content %}{% endblock %}
<div class="main-bottom">
    <div class="wrap">
    <div class="content-bottom">
        <div class="col_1_of_3 span_1_of_3">
            <h3>Welcome to our Centre!</h3>
            <p class="desc2"><strong>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</strong></p>
            <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ.</p>
            <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut conse ctetur adipisicing elit, sed do eiusmod conse ctetur adipisicing elit, sed do eiusmod</p>
            <a href="#" class="btn btn-primary"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <h3>Teaching Support</h3>
            <ul class="dishes_list">
                                <li><a href="#">Consectetur adipisicing elit</a></li>
                                <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                                <li><a href="#">Labore et dolore magna aliqua.</a></li>
                                <li><a href="#">Sed do eiusmod tempor Dolore</a></li>
                                <li><a href="#">Abore et dolore magna Dolore elit</a></li>
                                <li><a href="#">Incididunt ut labore et dolore</a></li>
                                <li><a href="#">Incididunt ut labore et dolore</a></li>
                                <li class="last"><a href="#">Adipisicing elit, sed do eiusmod</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <a href="#" class="btn btn-primary1"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <h3>新闻中心</h3>
                        <div class="latest-news-grid">
                            <div class="latest-news-pic">
                                <img src="./static/images/pic.jpg" title="imag-name">
                            </div>
                            <div class="latest-news-info">
                                <a href="#">Jan 21.01.2013</a>
                                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="latest-news-grid">
                            <div class="latest-news-pic">
                                <img src="./static/images/pic1.jpg" title="imag-name">
                            </div>
                            <div class="latest-news-info">
                                <a href="#">Jan 21.01.2013</a>
                                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="latest-news-grid">
                            <div class="latest-news-pic">
                                <img src="./static/images/pic2.jpg" title="imag-name">
                            </div>
                            <div class="latest-news-info">
                                <a href="#">Jan 21.01.2013</a>
                                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="latest-news-grid">
                            <div class="latest-news-pic">
                                <img src="./static/images/pic3.jpg" title="imag-name">
                            </div>
                            <div class="latest-news-info">
                                <a href="#">Jan 21.01.2013</a>
                                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
            <a href="#" class="btn btn-primary2"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
        </div>
        <div class="clear"></div>
    </div>
    </div>
</div>
<div class="wrap">
   <div class="copy-right">
        <p>Design by</p>
    </div>
</div>
</body>
</html>