{% extends 'base.html' %}
{% block content %}
<div class="banner-box">
    <div class="wrap">
        <div class="main-top">
            <div class="main">
            <div class="section group">
            <div class="col span_2_of_3">
              <div class="contact-form">
                <h3>联系我们：</h3>
                    <form method="post" action="contact-post.html">
                        <div>
                            <span><label>姓名：</label></span>
                            <span><input name="userName" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>Email：</label></span>
                            <span><input name="userEmail" type="text" class="textbox"></span>
                        </div>

                        <div>
                            <span><label>描述：</label></span>
                            <span><textarea name="userMsg"> </textarea></span>
                        </div>
                       <div>
                            <span><input type="submit" value="提交"></span>
                      </div>
                    </form>
              </div>
            </div>
            <div class="col span_1_of_3">
                <div class="company_address">
                    <h3>地址：</h3>
                            <p>500 Lorem Ipsum Dolor Sit,</p>
                            <p>22-56-2-9 Sit Amet, Lorem,</p>
                            <p>中国`北京</p>
                    <p>电话:(00) 222 666 444</p>
                    <p>传真: (000) 000 00 00 0</p>
                    <p>Email: <span>info[at]mycompany.com</span></p>
                    <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
               </div>
             </div>
             <div class="clear"></div>
          </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}