{% extends 'base.html' %}
{% block content %}
<div class="banner-box">
    <div class="wrap">
        <div class="main-top">
            <div class="main">
                <div class="banner">
                    <img src="./static/images/banner1.jpg" alt=""/>
                </div>
                <div class="section-top">
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="title-img">
                            <div class="title"><img src="./static/images/book1.png" alt=""/></div>
                                <div class="title-desc"><p>Resource library</p></div>
                                <div class="clear"></div>
                        </div>
                        <p class="desc"><strong>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</strong></p>
                        <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="title-img1">
                            <div class="title"><img src="./static/images/cup.png" alt=""/></div>
                                <div class="title-desc"><p>Support & Advice</p></div>
                                <div class="clear"></div>
                        </div>
                        <p class="desc-middle"><strong>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</strong></p>
                        <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary1"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="title-img2">
                            <div class="title"><img src="./static/images/books.png" alt=""/></div>
                            <div class="title-desc"><p>Resource library</p></div>
                                <div class="clear"></div>
                        </div>
                        <p class="last"><strong>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</strong></p>
                        <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary2"><span>Read more</span><img src="./static/images/more_arrow.png" alt=""></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

    	
    	
            