{% extends 'base.html' %}
{% block content %}
<div class="banner-box">
<div class="wrap">
    <div class="main-top">
        <div class="main">
       <div class="heading3">
            <h3>Programs</h3>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic5.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic5.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic6.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic6.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic7.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic7.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic8.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic8.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic9.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic9.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic10.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic10.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic11.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic11.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="./static/images/t-pic12.jpg" class="swipebox" title="Image Title"> <img src="./static/images/pic12.jpg" alt=""><span class="zoom-icon"></span> </a>
                <h4>Aenean nonummy hendrerit</h4>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                <a href="#" class="link">Read More</a>
            </div>
            <div class="clear"></div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

    	
    	
            